@use "@angular/material"as mat;

@use "./styles/themes/light";
@use "./styles/components";
@use "./styles/typography/config"as typography;

@include mat.core(typography.$my-app-typography);

@include mat.core-theme(light.$my-app-light-theme);
@include mat.button-theme(light.$my-app-light-theme);
@include components.theme(light.$my-app-light-theme,
  typography.$my-app-typography,
  light.$my-app-light-variants);


@import "global";
@import "variables";
@import "component-global";

// @import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

// @tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {
  height: 100%;
}

body {
  margin     : 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}




// .ck.ck-balloon-panel.ck-powered-by-balloon {
//   --ck-powered-by-background: var(--accented-background-color);
// }

// .ck.ck-balloon-panel.ck-powered-by-balloon .ck.ck-powered-by a::after {
//   display: none !important;
// }

// .ck.ck-editor__editable.note-detail-editable-text-editor {
//   padding-bottom: 10px;
// }

// .ck.ck-balloon-panel.ck-powered-by-balloon .ck.ck-powered-by .ck-powered-by__label {
//   text-transform: none;
//   font-family   : var(--main-font-family);
//   padding-left  : 2px;
//   color         : white !important;
//   border        : none !important;
//   border-color  : white !important;
// }

// .ck.ck-balloon-panel.ck-powered-by-balloon .ck.ck-powered-by .ck-icon {
//   filter: brightness(10);
// }

// .ck .ck-balloon-panel .ck-balloon-panel_position_border-side_right .ck-powered-by-balloon {
//   display: none !important;
// }

// .ck .ck-balloon-panel .ck-balloon-panel_position_border-side_right .ck-powered-by-balloon {
//   display: none !important;
// }

.ck.ck-balloon-panel {
  display: none !important;
}